<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" >

    <title>{{ title }}</title>
  </head>
  <body>
  {% include 'core/nav_bar_include.html' %}

    {%  block content %}
        <h1>Добро пожаловать на сайт интереснейших блогов</h1>
    {% endblock %}

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js" ></script>

  </body>
</html>